<app-data-grid
    titleText="Select some members"
    [collapseFilter]="true"
    [additionalGridActions]="memberCategorySelectorTemplate"
>
    <ag-grid-angular
        *appLoadingIfUndefined="let members of members$"
        appGridFillHeight
        [additionalBottomOffset]="16"
        minHeight="65vh"
        [columnDefs]="columns"
        [rowData]="members"
        [appGridMultipleSelection]="selectedMembers"
        (appGridMultipleSelectionChange)="selectedMembersChange.emit($event)"
    />
</app-data-grid>

<ng-template #memberCategorySelectorTemplate>
    <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Select member categories"
    >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button
            *ngFor="let category of categorySelection"
            mat-menu-item
            (click)="toggleSelection(category)"
        >
            <mat-icon>{{ category.isSelected ? "check_box" : "check_box_outline_blank" }}</mat-icon>
            <mat-icon>{{ category.icon }}</mat-icon>
            {{ category.label }}
        </button>
    </mat-menu>
</ng-template>
