<h1 mat-dialog-title>{{ user.name }} Access</h1>
<mat-dialog-content>
    <p [ngSwitch]="user.status">
        <ng-container *ngSwitchCase="UserStatus.Active">
            Member is active, and can log in to Orchestrate with the below roles. To remove their
            access go to
            <a
                [routerLink]="['/group', tenantAbbr$ | async, 'members']"
                (click)="cancel()"
                >members</a
            >, edit the member and set a left date.
        </ng-container>
        <ng-container *ngSwitchCase="UserStatus.Pending">
            Member is has been sent an invite to Orchestrate but has not set up their log in yet. To
            send them another one go to
            <a
                [routerLink]="['/group', tenantAbbr$ | async, 'members']"
                (click)="cancel()"
                >members</a
            >, and click the send icon.
        </ng-container>
        <ng-container *ngSwitchDefault>
            Member is not active or has no roles, and will not be able to access Orchestrate. To
            give them access, go to
            <a
                [routerLink]="['/group', tenantAbbr$ | async, 'members']"
                (click)="cancel()"
                >members</a
            >, showing past members, edit the member and add them to an ensemble.
        </ng-container>
    </p>

    <h2>Direct Roles</h2>
    <p>Roles that this user will have regardless of any ensemble membership.</p>
    <app-edit-roles
        hint="Role changes will be saved immediately"
        [roles]="user.roles"
        (roleAdded)="addRole($event)"
        (roleRemoved)="deleteRole($event)"
    ></app-edit-roles>

    <h2>Ensemble Roles</h2>
    <p>
        Roles that this member inherits from their ensemble membership. To change the roles
        associated with an ensemble, go to the ensemble page and open the edit dialog.
    </p>
    <ul *ngIf="user.ensembleRoles.length > 0; else noEnsemblesTemplate">
        <li *ngFor="let ensembleRole of user.ensembleRoles">
            <a
                [routerLink]="['/group', tenantAbbr$ | async, 'ensembles', ensembleRole.ensembleId]"
                (click)="cancel()"
            >
                {{ ensembleRole.ensembleName }}</a
            >:
            {{ ensembleRole.roles.join(", ") }}
        </li>
    </ul>
    <ng-template #noEnsemblesTemplate>
        Member does not have membership to any ensembles which give access to Orchestrate.
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions>
    <button
        mat-raised-button
        color="primary"
        (click)="resolve(user)"
    >
        <mat-icon>check</mat-icon>
        OK
    </button>
</mat-dialog-actions>
