mat-dialog-content {
    max-width: 500px;
}

mat-checkbox {
    display: block;
    margin-bottom: 1rem;
}

mat-expansion-panel {
    display: block;
    margin-bottom: 1rem;
}

ul {
    column-count: 2;
}
