:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.intro-text {
    color: var(--gray-500);
}

.fail-text {
    color: var(--warn-500);
}

form {
    display: flex;
    flex-direction: column;
}

.forgot-password {
    margin-top: 1rem;
    text-align: right;
}

mat-divider {
    margin: 1rem 0;
}

img {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}
