<app-help-center-page helpTitle="Contacts">
    <p>
        You can store basic information about people that your group regularly contacts in
        Orchestrate to ensure that all committee members have access to this information. For
        instance, you may have a contact point at the local council for a performance venue you use
        that you don't want stored in a personal address book.
    </p>
    <p>
        In future, this will integrate with other planned features such as
        <a
            href="https://gitlab.com/maestro-software/orchestrate-platform/-/issues/172"
            target="_blank"
            rel="noopener"
        >
            venue lists
        </a>
        and
        <a
            href="https://gitlab.com/maestro-software/orchestrate-platform/-/issues/95"
            target="_blank"
            rel="noopener"
        >
            mailing lists</a
        >.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="contactsHooks$ | async"
        callToActionText="Add a contact"
    >
        Add a contact to get started.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
