@use "dl";
@use "responsive";

mat-panel-title {
    flex: 1 1 auto;
    min-width: 0;

    .invoice-and-name {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    @media (max-width: 599px) {
        .invoice-reference,
        .member-name {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

mat-panel-description {
    flex: 0 0 auto;

    .send-status-icon {
        font-weight: 500;

        &.error {
            color: var(--warn-600);
        }
    }
}

mat-action-row:empty {
    display: none;
}

.invoice-reference {
    font-weight: 500;
}

app-member-invoice-state-badge {
    margin-left: 0.5rem;
    font-size: 14px;
    font-weight: 500;
}

.notes-field {
    width: 100%;
}

mat-checkbox {
    margin-top: 0.5rem;
}

.entity-actions {
    display: flex;
    margin-top: 0.5rem;
}

dl.info-list {
    margin-top: 0;
    @include dl.mobile-friendly-dl(auto 1fr auto 1fr);

    &:empty {
        display: none;
    }

    @include responsive.desktop-only() {
        .dt-status {
            grid-column-start: 1;
        }

        .dd-status {
            grid-column: 2 / span 4;
        }
    }
}
