<span
    *ngIf="(isCollapsed$ | async) === false"
    class="desktop-actions"
>
    <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
</span>

<ng-container *ngIf="isCollapsed$ | async">
    <button
        mat-icon-button
        #overlayTrigger
        [color]="collapsedColour"
        (click)="openOverlay()"
        [matTooltip]="collapsedTooltip"
    >
        <mat-icon>{{ collapsedIcon }}</mat-icon>
    </button>
</ng-container>

<ng-template #overlayTemplate>
    <div
        class="overlay-container"
        [@transformMenu]="animationState"
        (@transformMenu.start)="animationStart($event)"
        (@transformMenu.done)="animationDone($event)"
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        (keyup.escape)="closeOverlay()"
    >
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>
</ng-template>

<ng-template #contentTemplate>
    <ng-content></ng-content>
</ng-template>
