.toolbar-button {
    padding-right: 0;
}

.desktop-account-icon {
    transform: scale(1.4);
    margin-right: 0.25rem;
}

.chevron-icon {
    order: 2;
}

.mobile-account-icon-button {
    transform: scale(1.5);
}
