<h2 mat-dialog-title>Attachments: {{ entityFormattedText }}</h2>
<app-storage-entity-attachments
    *ngIf="attachmentService"
    [attachmentService]="attachmentService"
    [canEdit]="canEdit$ | async"
    entityAreaText="the music library"
></app-storage-entity-attachments>
<mat-dialog-actions>
    <button
        mat-raised-button
        color="primary"
        [disabled]="(uploadInProgress$ | async) ?? false"
        (click)="options?.resolve(entityAttachmentsComponent.attachments ?? [])"
    >
        <mat-icon>check</mat-icon>
        OK
    </button>
</mat-dialog-actions>
