.grid-toolbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    h3 {
        margin: 0;
    }

    .grid-actions {
        margin-left: auto;
        padding-bottom: 0.5rem;
    }
}
