<h2 *ngIf="member$ | async as member">
    {{ member?.firstName }} {{ member?.lastName }} - {{ member?.performanceCount }} performances
</h2>

<h4>Plays: {{ instrumentList$ | async }}</h4>
<h4>In: {{ ensembleList$ | async }}</h4>

<ng-container *appLoadingIfUndefined="let memberConcerts of memberConcerts$">
    <h3>Performances</h3>
    <p>
        Each band that plays in a concert counts as one performance. For instance, playing in the
        big band and the concert band at a caberet concert counts as 2 performances.
    </p>
    <p><b>Click the notes to go to the concert</b></p>
    <div
        *ngFor="let memberConcert of memberConcerts"
        class="concert-item"
    >
        <a
            mat-mini-fab
            [routerLink]="['../../', 'concerts', memberConcert.concert.id]"
            aria-label="Go to concert"
        >
            <mat-icon>music_note</mat-icon>
        </a>
        {{ memberConcert.toPerformanceString() }}
    </div>
</ng-container>
