<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <mat-form-field class="full-row">
        <mat-label>Title</mat-label>
        <input
            matInput
            [(ngModel)]="score.title"
            required
        />
    </mat-form-field>
    <mat-form-field
        class="new-row"
        subscriptSizing="dynamic"
    >
        <mat-label>Category</mat-label>
        <mat-select
            [ngModel]="category"
            (ngModelChange)="updateCategorySelection($event)"
            required
        >
            <mat-option
                *ngFor="let option of categoryOptions"
                [value]="option.value"
            >
                {{ option.label }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="hintText">{{ hintText }}</mat-hint>
    </mat-form-field>
    <div
        *ngIf="category === ScoreCategory.MusicLibrary"
        class="score-category-container"
    >
        <mat-checkbox [(ngModel)]="score.isOwned">
            This copy has been purchased and is not a photocopy
        </mat-checkbox>
    </div>
    <mat-form-field class="new-row">
        <mat-label>Composer</mat-label>
        <input
            matInput
            [(ngModel)]="score.composer"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Arranger</mat-label>
        <input
            matInput
            [(ngModel)]="score.arranger"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Genre</mat-label>
        <input
            matInput
            [(ngModel)]="score.genre"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Grade</mat-label>
        <input
            matInput
            type="number"
            [(ngModel)]="score.grade"
            min="0"
            step="0.5"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Date Purchased</mat-label>
        <input
            matInput
            [matDatepicker]="acquiredPicker"
            [(ngModel)]="score.datePurchased"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="acquiredPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #acquiredPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Value Paid</mat-label>
        <span matTextPrefix>$&nbsp;</span>
        <input
            matInput
            type="number"
            step="0.01"
            [(ngModel)]="score.valuePaid"
        />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Location</mat-label>
        <input
            matInput
            [(ngModel)]="score.location"
        />
    </mat-form-field>
    <app-duration-editor [(duration)]="score.duration"></app-duration-editor>
    <mat-form-field class="full-row">
        <mat-label>Notes</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
            [(ngModel)]="score.notes"
        ></textarea>
    </mat-form-field>
    <app-save-error
        *ngIf="saveError"
        class="full-row"
        [saveError]="saveError"
    ></app-save-error>
</mat-dialog-content>
<mat-dialog-actions>
    <app-save-cancel-buttons
        [entityTracker]="entityTracker"
        (save)="resolve(score)"
        (cancel)="cancel()"
        (error)="saveError = $event"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
