@use "form";
@use "responsive";

mat-dialog-content {
    @include form.dialog-form();
}

.score-category-container {
    padding-top: 1rem;

    @include responsive.mobile-only() {
        padding-bottom: 1rem;
    }
}
