<mat-expansion-panel *ngIf="performance$ | async as performance">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <!-- Wrap in div so link isn't full width -->
            <div
                *ngIf="performance.concert as concert"
                class="occasion-container"
            >
                <!-- TODO [tenantRouterLink] which adds the tenant part of URL automatically -->
                <a
                    class="occasion stealth-link"
                    [routerLink]="['/group', tenantAbbr$ | async, 'concerts', concert.id]"
                    [title]="concert.occasion"
                >
                    {{ concert.occasion }}
                </a>
            </div>
            <div
                *ngIf="performance.concert?.location as location"
                class="location-container"
            >
                {{ location }}
            </div>
        </mat-panel-title>
        <mat-panel-description>{{
            performance.concert?.date | date: "MMM ''YY"
        }}</mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div
            class="performance-details"
            *appLoadingUntilFirstEmit="let details of details$"
        >
            <p *ngIf="performance.concert?.notes as notes">
                {{ notes }}
            </p>

            <div class="performance-scores">
                {{ details.scores.length }} pieces of music were played in this concert:
                <ul>
                    <li *ngFor="let score of details.scores">{{ score.formattedName }}</li>
                </ul>
            </div>

            <div class="performance-members">
                {{ details.members.length }} members played in this concert:
                <ul>
                    <li *ngFor="let member of details.members">{{ member.fullName }}</li>
                </ul>
            </div>
        </div>
    </ng-template>
</mat-expansion-panel>
