@use "responsive";

mat-expansion-panel-header {
    mat-panel-title {
        flex-grow: 1;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        overflow: hidden;

        .occasion-container,
        .location-container {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .occasion-container {
            font-size: 16px;
            font-weight: 500;
        }

        .location-container {
            font-size: 14px;
            opacity: 0.7;
        }
    }

    mat-panel-description {
        flex: 0 auto;
        align-self: center;
    }
}

.performance-details {
    @include responsive.grid-min-max-cols(1, 2, 300px, 0px, 1rem);

    p {
        grid-column: 1 / -1;
    }

    .performance-scores,
    .performance-members {
        display: flex;
        flex-direction: column;

        ul {
            height: 100%;
        }
    }

    .performance-members {
        @include responsive.desktop-only() {
            ul {
                columns: 2;
                column-fill: auto;
            }
        }
    }
}
