<div class="select-image-container">
    <img
        *ngIf="safeObjectUrl"
        [src]="safeObjectUrl"
        (load)="revokeObjectUrl()"
        alt="Image preview"
    />
    <mat-progress-bar
        *ngIf="uploadInProgress"
        [mode]="uploadProgress === undefined ? 'indeterminate' : 'determinate'"
        [value]="uploadProgress"
    ></mat-progress-bar>
    <div class="select-image-buttons">
        <button
            type="button"
            mat-raised-button
            color="primary"
            (click)="fileInput.click()"
            [disabled]="uploadInProgress"
        >
            <mat-icon>edit</mat-icon>
            Select
        </button>
        <button
            *ngIf="blobId"
            type="button"
            mat-raised-button
            color="warn"
            [disabled]="uploadInProgress"
            (click)="deleteImage()"
        >
            <mat-icon>delete</mat-icon>
            Delete
        </button>
        <input
            #fileInput
            type="file"
            accept="image/png, image/jpeg"
            hidden
            (change)="updateSelectedImage(fileInput)"
        />
    </div>
    <!-- mat-error class hack to get same colour as form errors -->
    <div
        *ngIf="error; else hintTemplate"
        class="mat-mdc-form-field-error"
    >
        {{ error }}
    </div>
    <ng-template #hintTemplate>
        <div class="mat-mdc-form-field-hint">PNG or JPEG are accepted</div>
    </ng-template>
</div>
