<div class="member-score-selection">
    <app-select-members
        [selectedMembers]="selectedMembers"
        (selectedMembersChange)="updateMembership($event)"
    ></app-select-members>

    <app-select-scores
        [selectedScoreIds]="selectedScoreIds"
        (selectedScoreIdsChange)="updateScores($event)"
    ></app-select-scores>
</div>
