<app-page-wrapper
    *appAsyncIf="let pageData of pageData$; else: notFoundTemplate"
    [title]="pageData.mailingList.name"
>
    <app-badge page-badge>
        <app-icon-text-pair
            icon="edit"
            text="Editing"
        ></app-icon-text-pair>
    </app-badge>
    <ng-container page-action>
        <app-save-cancel-form-buttons
            page-action
            *ngIf="formGroup$ | async as formGroup"
            [form]="formGroup"
            [doSave]="saveMailingList"
            (save)="goToMailingListsPage()"
            (cancel)="goToMailingListsPage()"
            (error)="showErrorDialog($event)"
            saveText="Save & return"
        />
        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="More actions"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button
                mat-menu-item
                (click)="deleteMailingList(pageData.mailingList)"
            >
                <mat-icon>delete_forever</mat-icon>
                Delete
            </button>
        </mat-menu>
    </ng-container>
    <div
        class="content-container"
        *ngIf="formGroup$ | async as formGroup"
    >
        <mat-card>
            <mat-card-content>
                <app-edit-mailing-list
                    [formGroup]="formGroup.controls.mailingList"
                    [addressParameters]="pageData.referenceData.addressParameters"
                />
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Recipient Selection</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form>
                    <app-tag-box
                        label="Ensembles"
                        hint="Members will be sent emails until they leave the ensemble"
                        [allValues]="pageData.referenceData.ensembles"
                        [formatValue]="formatEnsemble"
                        [control]="formGroup.controls.ensembles"
                    />
                    <app-tag-box
                        label="Members"
                        hint="Members will be sent emails until they leave the organisation"
                        [allValues]="pageData.referenceData.members"
                        [isEqual]="isEqual"
                        [formatValue]="formatRecipient"
                        [control]="formGroup.controls.members"
                    />
                    <app-tag-box
                        label="Contacts"
                        hint="Contacts will be sent emails until they are archived."
                        [allValues]="pageData.referenceData.contacts"
                        [isEqual]="isEqual"
                        [formatValue]="formatRecipient"
                        [control]="formGroup.controls.contacts"
                    />
                    <mat-form-field
                        *ngIf="pageData.suppressions.length > 0"
                        class="recipient-selector"
                    >
                        <mat-label>Suppressions</mat-label>
                        <mat-chip-grid
                            #suppressionsGrid
                            [formControl]="formGroup.controls.suppressions"
                        >
                            <mat-chip-row
                                *ngFor="let value of formGroup.controls.suppressions.value"
                                [value]="value"
                                [removable]="true"
                                (removed)="
                                    removeSuppression(formGroup.controls.suppressions, value)
                                "
                                [matTooltip]="suppressionTooltip(value)"
                            >
                                {{ value.email }}
                                <mat-icon
                                    *ngIf="value.isRemovable"
                                    matChipRemove
                                    >cancel</mat-icon
                                >
                            </mat-chip-row>
                        </mat-chip-grid>
                        <input
                            [readonly]="true"
                            [hidden]="true"
                            [matChipInputFor]="suppressionsGrid"
                        />
                        <mat-hint>People who have unsubscribed from this mailing list</mat-hint>
                    </mat-form-field>
                </form>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Recipient List</mat-card-title>
            </mat-card-header>
            <mat-card-content *appLoadingIfUndefined="let recipients of recipients$">
                <ag-grid-angular
                    *ngIf="recipients.length > 0; else noRecipientsTemplate"
                    class="ag-theme-material"
                    appGridFillHeight
                    minHeight="400px"
                    [additionalBottomOffset]="48"
                    [columnDefs]="gridColumns"
                    [rowData]="recipients"
                />
                <ng-template #noRecipientsTemplate>
                    <app-get-started>
                        <ng-container get-started-content>
                            You won't be able to use this list if you don't add any recipients. Add
                            them above.
                        </ng-container>
                    </app-get-started>
                </ng-template>
            </mat-card-content>
            <mat-card-footer
                *ngIf="recipientCounts$ | async as recipientCounts"
                class="recipient-count"
            >
                <ng-container *ngIf="recipientCounts.all > 0">
                    {{ recipientCounts.all }}
                    recipient<ng-container *ngIf="recipientCounts.all > 1">s</ng-container>
                </ng-container>
                <ng-container *ngIf="recipientCounts.all !== recipientCounts.deliverable">
                    ({{ recipientCounts.deliverable }} deliverable)
                </ng-container>
            </mat-card-footer>
        </mat-card>
    </div>
</app-page-wrapper>
<ng-template #notFoundTemplate>
    <app-not-found-page> Could not find that mailing list. </app-not-found-page>
</ng-template>
