.container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
        margin: 0;
    }
}

img {
    max-height: 80px;
    max-width: 100%;
    margin-bottom: 1rem;
}
