<div class="orchestrate-container">
    <img
        src="/assets/orchestrate_logo_wide.svg"
        alt="Orchestrate logo"
    />

    <div class="title">
        <h1>Administration</h1>

        <app-user-dropdown>
            <a
                mat-menu-item
                routerLink="/group"
            >
                <mat-icon>sync_alt</mat-icon>
                Select group
            </a>
        </app-user-dropdown>
    </div>

    <mat-tab-group [dynamicHeight]="true">
        <mat-tab label="Demo Seed"><app-demo-seed></app-demo-seed></mat-tab>
        <mat-tab label="API User"><app-api-user></app-api-user></mat-tab>
    </mat-tab-group>
</div>
