<mat-card *appLoadingUntilFirstEmit="let releases of releases$">
    <mat-card-header>
        <mat-card-title>
            <h1>Release Notes</h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div
            *ngFor="let release of releases"
            class="version-container"
        >
            <div class="version-header">
                <h2>{{ release.info.date | date }}</h2>
                <a
                    *ngIf="release.info.milestone"
                    class="work-items"
                    mat-icon-button
                    matTooltip="Work items"
                    [href]="
                        'https://gitlab.com/maestro-software/orchestrate-platform/-/milestones/' +
                        release.info.milestone
                    "
                    target="_blank"
                >
                    <mat-icon>description</mat-icon>
                </a>
                <app-badge
                    *ngIf="release.badge as badge"
                    class="release-badge"
                    [ngClass]="badge.class"
                >
                    <app-icon-text-pair
                        [icon]="badge.icon"
                        [text]="badge.text"
                    ></app-icon-text-pair>
                </app-badge>
            </div>
            <div class="version-details">
                <ul>
                    <li
                        *ngFor="let change of release.info.notableChanges"
                        [innerHTML]="change"
                    ></li>
                </ul>
            </div>
        </div>
    </mat-card-content>
</mat-card>
