<app-help-center-page helpTitle="Concerts">
    <p>
        Orchestrate considers a concert as a single event where one or more ensembles perform for an
        audience. For each performance in the concert (where one of the ensembles gets on the stage
        to play one or more sets of music) you can track which members and what music was performed.
        You are also able to upload files to be associated with the concert, such as a flyer, some
        photos or a recording.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="concertsDataHooks$ | async"
        callToActionText="Add concert"
    >
        Let's get the ball rolling by creating a concert to populate.
    </app-help-data-hook-call-to-action>

    <p>
        On the concerts page, click on a concert name to view further details, such as the performer
        names or the performed music. When editing, you will need to add a performing ensemble
        before you can select the music that was played and the members that performed.
    </p>
    <app-help-data-hook-call-to-action
        [dataHooks]="editConcertDataHooks$ | async"
        callToActionText="Add performing ensemble"
    >
        It doesn't look like there's any performing ensembles in this concert yet - let's add one.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
