$xMargin: 1.25rem;

mat-toolbar {
    position: sticky;
    top: 0;
    // To ensure mat-stepper doesn't show through toolbar
    z-index: 1;

    mat-icon {
        flex: 0 0 auto;
    }

    .help-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.help-center-link {
    margin-left: 0.25rem;
}

:host(.padded-content) .content {
    margin: 1rem $xMargin;
}

.relevant-help {
    p,
    ul {
        margin: 0;
    }

    mat-divider {
        margin: 1rem (-$xMargin);
    }
}

a[mat-stroked-button] + p {
    margin-top: 1rem;
}
