@use "dl";

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
    gap: 1rem;
}

dl {
    @include dl.mobile-friendly-dl();
}

mat-divider {
    margin: 0 -1rem;
}

h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

h3 + dl {
    margin-top: 0;
}

ul {
    margin-bottom: 1rem;
}

.invoice-title {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    h3 {
        margin-top: 0;
    }

    app-member-invoice-state-badge {
        margin-left: 0.5rem;
    }
}

.invoice-details {
    margin-top: 0.25rem;
}

.billing-period-title {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;

    h3 {
        margin-top: 0;
    }

    app-billing-period-state-badge {
        margin-left: 0.5rem;
    }
}

ag-charts {
    display: block;
    height: 250px;
}

.asset-loan + .asset-loan {
    margin-top: 0.25rem;
}

img {
    max-height: 100px;
    object-fit: contain;
}

app-proportion-bar {
    height: 1rem;
}
