:host {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    max-width: 600px;
}

mat-card {
    &:not(:last-of-type) {
        margin-bottom: 1rem;
    }

    mat-card-content {
        margin-top: 0.5rem;
    }
}

.orchestrate-image,
.maestro-image {
    padding: 1rem 2rem;
    padding-bottom: 0;
}

.maestro-image {
    max-height: 10rem;
}

.orchestrate-image {
    max-height: 6rem;
}

.brand-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 2rem;
}

.brand-icon {
    width: 2rem;
    height: 2rem;
}
