<img
    class="orchestrate-logo"
    src="assets/orchestrate_logo.svg"
    alt="Orchestrate Logo"
/>

<mat-stepper
    #stepper
    [orientation]="(stepperOrientation$ | async)!"
    linear
>
    <mat-step
        label="About you"
        [stepControl]="userForm"
        [editable]="!registrationResponse"
    >
        <p>
            This information will be used to set up your personal Orchestrate account. If you've
            used Orchestrate before, use the same email address and we'll link the two.
        </p>
        <form
            [formGroup]="userForm"
            (ngSubmit)="stepper.next()"
        >
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input
                    matInput
                    formControlName="firstName"
                />
                <mat-error appAggregateFormControlNameErrors="firstName"></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input
                    matInput
                    formControlName="lastName"
                />
                <mat-error appAggregateFormControlNameErrors="lastName"></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    matInput
                    formControlName="email"
                />
                <mat-error appAggregateFormControlNameErrors="email"></mat-error>
            </mat-form-field>
        </form>
        <div class="progress-buttons">
            <button
                mat-button
                matStepperNext
            >
                Next
            </button>
        </div>
    </mat-step>
    <mat-step
        label="About your group"
        [stepControl]="tenantForm"
        [editable]="!registrationResponse"
    >
        <p>Now let's get the essential information about your group.</p>
        <form [formGroup]="tenantForm">
            <mat-form-field>
                <mat-label>Group name</mat-label>
                <input
                    matInput
                    formControlName="name"
                    (keyup)="setAbbreviationFromName()"
                />
                <mat-error appAggregateFormControlNameErrors="name"></mat-error>
            </mat-form-field>
            <mat-form-field class="overflow-hint">
                <mat-label>Group slug</mat-label>
                <input
                    matInput
                    formControlName="abbreviation"
                />
                <mat-error appAggregateFormControlNameErrors="abbreviation"></mat-error>
                <mat-hint>
                    A short name used in your unique Orchestrate URL and mailing lists. Must only
                    contain letters, numbers and dashes.
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="overflow-hint">
                <mat-label>Location</mat-label>
                <mat-select formControlName="timeZone">
                    <mat-option
                        *ngFor="let timeZone of timeZones"
                        [value]="timeZone.name"
                    >
                        {{ timeZone.label }} ({{ timeZone.gmtOffset }})
                    </mat-option>
                </mat-select>
                <mat-hint>
                    This will be used to correctly calculate end of day reminders. If your location
                    isn't listed please select the closest region and get in
                    <a href="mailto:contact@orchestrate.community">touch</a>.
                </mat-hint>
                <mat-error appAggregateFormControlNameErrors="timeZone"></mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Website</mat-label>
                <input
                    matInput
                    formControlName="website"
                />
                <mat-error appAggregateFormControlNameErrors="website"></mat-error>
                <mat-hint>Optional, will be used in communications with your members</mat-hint>
            </mat-form-field>

            <!-- TODO Move this to use the file upload infrastructure -->
            <div class="logo-container">
                <img
                    *ngIf="logo"
                    [src]="logo"
                    alt="Group logo"
                />
                <button
                    type="button"
                    mat-raised-button
                    color="primary"
                    (click)="fileInput.click()"
                >
                    Select logo
                </button>
                <input
                    #fileInput
                    type="file"
                    accept="image/png, image/jpeg"
                    hidden
                    (change)="onFileSelected($event)"
                />
                <!-- mat-error class hack to get same colour as form errors -->
                <mat-error
                    *ngIf="tenantForm.controls.logo.invalid; else hintTemplate"
                    appAggregateFormControlNameErrors="logo"
                ></mat-error>
                <ng-template #hintTemplate>
                    <div class="mat-mdc-form-field-hint">
                        Optional, PNG or JPEG, will be displayed in Orchestrate and used in
                        communications with your members.
                    </div>
                </ng-template>
            </div>

            <app-hcaptcha
                *ngIf="(isDevelopment$ | async) === false"
                (responseToken)="hcaptchaResponse = $event"
            ></app-hcaptcha>
            <div
                *ngIf="registrationError"
                class="registration-error"
            >
                <p>{{ registrationError.text }}</p>
                <p *ngIf="registrationError.getInContact">
                    Please <a href="mailto:contact@orchestrate.community">email us</a> and we can
                    create you an account manually.
                </p>
            </div>
        </form>
        <div class="progress-buttons">
            <button
                mat-button
                matStepperPrevious
            >
                Back
            </button>
            <button
                mat-raised-button
                color="primary"
                [disabled]="!hcaptchaResponse || userForm.invalid || tenantForm.invalid"
                [asyncClick]="register"
                [asyncClickArg]="stepper"
            >
                Register
            </button>
        </div>
    </mat-step>
    <mat-step label="Next steps">
        <ng-container *ngIf="registrationResponse">
            <p [ngSwitch]="registrationResponse.postRegisterAction">
                Thank you for registering <strong>{{ registrationResponse.tenant.name }}</strong>
                on Orchestrate.
            </p>
            <p [ngSwitch]="registrationResponse.postRegisterAction">
                <ng-container *ngSwitchCase="'Redirect'">
                    Please check your email for confirmation of the registration. Since your email
                    address already has an active account with Orchestrate, you also may log in
                    below.
                </ng-container>
                <ng-container *ngSwitchDefault>
                    Please check your email for a link to set your password and log in. If you've
                    already done that, you can also log in below.
                </ng-container>
            </p>
            <div class="progress-buttons">
                <a
                    mat-raised-button
                    color="primary"
                    [routerLink]="[
                        '/group',
                        registrationResponse.tenant.abbreviation,
                        {
                            outlets: {
                                primary: ['home'],
                                help: ['view', 'get-started', { isFirstRun: true }],
                            },
                        },
                    ]"
                >
                    Proceed to login
                </a>
            </div>
        </ng-container>
    </mat-step>
</mat-stepper>
