:host {
    display: flex;
    flex-direction: column;
}

.orchestrate-logo {
    height: auto;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

mat-stepper {
    max-width: 550px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.overflow-hint {
    margin-bottom: 2rem;
}

.logo-container {
    margin-top: 1rem;

    img {
        display: block;
        max-width: 100%;
        max-height: 120px;
    }

    button {
        margin-top: 0.5rem;
    }

    .mat-mdc-form-field-error,
    .mat-mdc-form-field-hint {
        margin-top: 0.5rem;
        font-size: 12px;
    }
}

app-hcaptcha {
    display: block;
    margin-top: 0.5rem;
}

.progress-buttons {
    float: right;
}

.registration-error {
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border: 1px solid var(--warn-800);
    background-color: var(--warn-100);
    color: var(--warn-800);
    border-radius: 4px;

    p {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
