<mat-expansion-panel
    *ngIf="performance && performance.ensemble"
    [expanded]="expanded"
>
    <mat-expansion-panel-header>
        <mat-panel-title>
            <!-- TODO [tenantRouterLink] which adds the tenant part of URL automatically -->
            <mat-icon>group</mat-icon>
            <a
                class="stealth-link"
                [routerLink]="['/group', tenantAbbr$ | async, 'ensembles', performance.ensemble.id]"
                [title]="performance.ensemble.name"
            >
                {{ performance.ensemble.name }}
            </a>
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="performance-details">
        <div class="performance-scores">
            {{ scores.length }} pieces of music were performed:
            <ul>
                <li *ngFor="let score of scores">{{ score.formattedName }}</li>
            </ul>
        </div>

        <div class="performance-members">
            {{ members.length }} members performed:
            <ul>
                <li *ngFor="let member of members">{{ member.fullName }}</li>
            </ul>
        </div>
    </div>
</mat-expansion-panel>
