@use "dl";

.billing-period-header {
    display: flex;
    align-items: center;
}

.billing-period-title {
    margin: 0;
    font-weight: 500;
}

app-billing-period-state-badge {
    margin-left: 0.5rem;
}

dl {
    margin: 0;
    @include dl.mobile-friendly-dl();

    dd.overdue {
        font-weight: 500;
        color: #cb2370;
    }
}
