<app-help-center-page helpTitle="Mailing Lists">
    <p>
        To allow easy communication with members and contacts Orchestrate integrates customisable
        mailing lists. Each mailing list has a unique email address, and emails sent to this address
        will be then be forwarded to the recipients of the list. Recipients can come from a variety
        of sources:
    </p>
    <ul>
        <li>
            <strong>Ensembles</strong> - members will receive emails while they are an active member
            of the ensemble
        </li>
        <li>
            <strong>Members</strong> - members will receive emails regardless of ensemble membership
            until they are marked as left
        </li>
        <li>
            <strong>Contacts</strong> - contacts will receive emails until they are archived or
            deleted
        </li>
    </ul>

    <p>
        Mailing lists are primary designed to facilitate 3 main use cases, which is controlled by
        the people who can send emails to the mailing list:
    </p>
    <ul>
        <li>
            <strong>Only committee members and administrators</strong>: typically for one-way
            notification emails e.g. from the committee to ensemble members or notifying external
            contacts of concerts
        </li>
        <li>
            <strong>Recipients of the mailing list</strong> - typically for discussions e.g. the
            committee circulating an idea for a fundraiser
        </li>
        <li>
            <strong>Anyone on the internet</strong> - typically to allow the public to send
            inquiries to a limited number of members (usually someone on the committee)
        </li>
    </ul>

    <p>
        Additionally, the default reply address when a mailing list email is replied to can be
        configured to the mailing list address, or the sender of the original email. Recipients can
        still override this in their email client if they wish.
    </p>

    <p>
        Recipients can choose to unsubscribe from a particular mailing list using a link that will
        be automatically added to every email sent via the mailing list. If they wish to
        resubscribe, then a committee member or an administrator will have to remove the suppression
        created for their email address from the relevant mailing list page.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="mailingListHooks$ | async"
        callToActionText="Add a mailing list"
    >
        To get started, create a mailing list.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
