<app-help-center-page helpTitle="Settings">
    <p>Orchestrate has a number of settings that you can use to customise your experience.</p>

    <h2>General</h2>
    <p>
        A variety of different data that is used to control how Orchestrate looks (e.g. name, logo)
        or how it will work for your group (e.g. timezone).
    </p>

    <h2>Subscription</h2>
    <p>
        From the subscription settings you can activate, change, or cancel your Orchestrate
        subscription. You are also able to view previous and upcoming invoices.
    </p>
    <p>
        Orchestrate is made by Maestro Software and we use Stripe for secure and convenient billing.
        You can learn more about Stripe by clicking the below image.
    </p>
    <a
        class="stripe-link"
        href="https://stripe.com"
        target="_blank"
        rel="noopener"
        aria-label="stripe.com"
    >
        <img
            src="assets/powered_by_stripe.svg"
            alt="Powered by stripe"
        />
    </a>

    <h2>Member Billing</h2>
    <p>
        Settings for Member Billing control how invoices are constructed and sent to your members.
        For more details, see its
        <a [appHelpRouterLink]="['view', 'member-billing']">dedicated help</a>.
    </p>
</app-help-center-page>
