<h1 mat-dialog-title>
    {{ title }}
    <mat-icon
        *ngIf="member.details?.hasLogin"
        matTooltip="Member has a login to Orchestrate"
        >badge</mat-icon
    >
</h1>
<form
    mat-dialog-content
    [formGroup]="form"
>
    <mat-form-field formGroupName="member">
        <mat-label>First Name</mat-label>
        <input
            matInput
            formControlName="firstName"
        />
        <mat-error appBreezeFormControlNameError="member.firstName"></mat-error>
    </mat-form-field>
    <mat-form-field formGroupName="member">
        <mat-label>Last Name</mat-label>
        <input
            matInput
            formControlName="lastName"
        />
        <mat-error appBreezeFormControlNameError="member.lastName"></mat-error>
    </mat-form-field>
    <mat-form-field formGroupName="details">
        <mat-label>Phone Number</mat-label>
        <input
            matInput
            formControlName="phoneNo"
        />
        <mat-error appBreezeFormControlNameError="details.phoneNo"></mat-error>
    </mat-form-field>
    <mat-form-field formGroupName="details">
        <mat-label>Email</mat-label>
        <input
            matInput
            type="email"
            formControlName="email"
        />
        <mat-error appBreezeFormControlNameError="details.email"></mat-error>
    </mat-form-field>
    <mat-form-field
        class="full-row"
        formGroupName="details"
    >
        <mat-label>Address</mat-label>
        <input
            matInput
            formControlName="address"
        />
        <mat-error appBreezeFormControlNameError="details.address"></mat-error>
    </mat-form-field>
    <mat-form-field
        class="full-row"
        formGroupName="details"
    >
        <mat-label>Fee Class</mat-label>
        <mat-select formControlName="feeClass">
            <mat-option
                *ngFor="let option of feeClassOptions"
                [value]="option.value"
            >
                {{ option.label }}
            </mat-option>
        </mat-select>
        <mat-hint *ngIf="hintText$ | async as hintText">{{ hintText }}</mat-hint>
        <mat-error appBreezeFormControlNameError="details.feeClass"></mat-error>
    </mat-form-field>
    <mat-form-field
        class="new-row"
        formGroupName="member"
    >
        <mat-label>Date Joined</mat-label>
        <input
            matInput
            [matDatepicker]="joinedPicker"
            formControlName="dateJoined"
            required
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="joinedPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #joinedPicker></mat-datepicker>
        <mat-error appBreezeFormControlNameError="member.dateJoined"></mat-error>
    </mat-form-field>
    <!-- TODO #124 Handle editing this via leave/rejoin workflow -->
    <mat-form-field formGroupName="member">
        <mat-label>Date Left</mat-label>
        <input
            matInput
            [matDatepicker]="leftPicker"
            formControlName="dateLeft"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="leftPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #leftPicker></mat-datepicker>
        <mat-error appBreezeFormControlNameError="member.dateLeft"></mat-error>
    </mat-form-field>
    <mat-form-field class="full-row">
        <mat-label>Instruments</mat-label>
        <mat-chip-grid #instrumentList>
            <mat-chip-row
                *ngFor="let instrument of member.memberInstrument"
                [removable]="true"
                (removed)="removeInstrument(instrument)"
            >
                {{ instrument.instrumentName }}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-row>
            <input
                placeholder="Add instrument"
                [matChipInputFor]="instrumentList"
                [matChipInputSeparatorKeyCodes]="seperatorKeyCodes"
                [matChipInputAddOnBlur]="true"
                (matChipInputTokenEnd)="addInstrument($event)"
            />
        </mat-chip-grid>
        <mat-hint>Seperate instruments by pressing enter, comma or semicolon.</mat-hint>
    </mat-form-field>
    <!-- TODO extract this logic into a component, it's complicated!-->
    <mat-form-field class="full-row">
        <mat-label>Ensembles</mat-label>
        <mat-chip-grid #ensembleList>
            <mat-chip-row
                *ngFor="let membership of currentMembership$ | async"
                [removable]="true"
                (removed)="removeMembership(membership)"
            >
                {{ membership.ensemble?.name }}
                <app-membership-type-icon
                    role="button"
                    class="membership-type-icon"
                    [membership]="membership"
                    [size]="{ 'font-size': '22px' }"
                    tooltipSuffixText=", click to change"
                    (click)="membership.cycleType()"
                >
                </app-membership-type-icon>
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip-row>
            <!-- Force open after click as it won't open again after selection
                (presumably because a focus event doesn't fire)-->
            <input
                placeholder="Select an ensemble"
                #ensembleInput
                #trigger="matAutocompleteTrigger"
                (click)="trigger.openPanel()"
                [formControl]="ensembleCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="ensembleList"
                (matChipInputTokenEnd)="cleanEnsembleInput($event)"
            />
            <button
                *ngIf="!isNewMember"
                mat-icon-button
                matIconSuffix
                matTooltip="Edit full membership history"
                (click)="openMembershipHistoryDialog()"
            >
                <mat-icon>edit</mat-icon>
            </button>
        </mat-chip-grid>
        <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="addMembership($event)"
        >
            <mat-option
                *ngFor="let ensemble of availableEnsembles$ | async"
                [value]="ensemble"
            >
                {{ ensemble.name }}
            </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="!isNewMember">
            Edit full membership history using the button on the right
        </mat-hint>
    </mat-form-field>
    <mat-form-field
        class="full-row"
        formGroupName="details"
    >
        <mat-label>Notes</mat-label>
        <textarea
            matInput
            cdkTextareaAutosize
            [cdkAutosizeMinRows]="3"
            [cdkAutosizeMaxRows]="10"
            formControlName="notes"
        ></textarea>
        <mat-error appBreezeFormControlNameError="details.notes"></mat-error>
    </mat-form-field>
    <app-save-error
        *ngIf="saveError"
        [saveError]="saveError"
    ></app-save-error>
</form>
<mat-dialog-actions>
    <app-save-cancel-buttons
        [form]="form"
        [entityTracker]="entityTracker"
        (save)="resolve(member)"
        (cancel)="cancel()"
        (error)="saveError = $event"
    ></app-save-cancel-buttons>
</mat-dialog-actions>
