<h1 mat-dialog-title>{{ title }}</h1>
<mat-dialog-content>
    <mat-form-field
        class="payment-type-form-field"
        subscriptSizing="dynamic"
    >
        <mat-label>Select payment type</mat-label>
        <mat-select
            [(ngModel)]="paymentType"
            (valueChange)="onPaymentTypeChange($event)"
            required
        >
            <mat-option
                *ngFor="let paymentType of paymentTypes"
                [value]="paymentType.type"
            >
                {{ paymentType.label }}
            </mat-option>
        </mat-select>
        <mat-hint>Was this invoice paid by the early bird date or not?</mat-hint>
    </mat-form-field>

    <mat-form-field class="date-paid-form-field">
        <mat-label>Date Paid</mat-label>
        <input
            #datePaidInput="ngModel"
            matInput
            [matDatepicker]="acquiredPicker"
            [(ngModel)]="invoice.paid"
            [required]="true"
            [min]="minPaidDate"
            [max]="maxPaidDate"
        />
        <mat-datepicker-toggle
            matIconSuffix
            [for]="acquiredPicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #acquiredPicker></mat-datepicker>
        <mat-error *ngIf="datePaidInput.hasError('matDatepickerMin')">{{
            minPaidErrorText
        }}</mat-error>
        <mat-error *ngIf="datePaidInput.hasError('matDatepickerMax')">{{
            maxPaidErrorText
        }}</mat-error>
    </mat-form-field>

    <app-member-invoice-line-items-grid
        *ngIf="!loading; else loadingTemplate"
        [memberInvoice]="invoice"
        [canEdit]="true"
        (lineItemAdded)="entityTracker.add($event)"
        (lineItemEdited)="entityTracker.add($event)"
        (lineItemDeleted)="handleDeletedLineItem($event)"
    >
    </app-member-invoice-line-items-grid>
    <ng-template #loadingTemplate>
        <app-loading></app-loading>
    </ng-template>

    <mat-checkbox
        [disabled]="paymentType === undefined || !!datePaidInput.invalid"
        [(ngModel)]="confirmed"
    >
        Check to confirm you want to mark this invoice as paid. You will not be able to make any
        further changes to the invoice after doing this.
    </mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions>
    <app-async-button-group>
        <button
            mat-raised-button
            color="primary"
            [disabled]="!confirmed || loading"
            [asyncClick]="saveAndClose"
        >
            <mat-icon>save</mat-icon>
            Save & Close
        </button>
        <button
            mat-raised-button
            color="accent"
            [disabled]="!confirmed || loading"
            [asyncClick]="saveAndSend"
        >
            <mat-icon>send</mat-icon>
            Save & Send Receipt
        </button>
        <button
            mat-button
            [disabled]="loading"
            [asyncClick]="cancelChanges"
        >
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </app-async-button-group>
</mat-dialog-actions>
