<mat-toolbar color="primary">
    <button
        mat-icon-button
        (click)="sidenav.toggle()"
    >
        <mat-icon>menu</mat-icon>
    </button>
    <h1 *ngIf="tenant$ | async as tenant">{{ tenant.name }}</h1>
    <app-badge
        *ngIf="nonProdEnvironment$ | async as nonProdEnvironment"
        matTooltip="This is a test environment, feel free to make any changes without consequence"
    >
        <app-icon-text-pair
            icon="construction"
            [text]="nonProdEnvironment"
            [showMobileTooltip]="false"
        ></app-icon-text-pair>
    </app-badge>
    <button
        class="start-of-right-content info-button"
        mat-icon-button
        [matMenuTriggerFor]="infoMenu"
    >
        <mat-icon>info_outline</mat-icon>
    </button>
    <mat-menu #infoMenu="matMenu">
        <a
            mat-menu-item
            [routerLink]="['about', 'release-notes']"
        >
            <mat-icon>campaign</mat-icon>
            Release Notes
        </a>
        <a
            mat-menu-item
            [routerLink]="['about', 'terms-of-use']"
        >
            <mat-icon>gavel</mat-icon>
            Terms of use
        </a>
        <a
            mat-menu-item
            [routerLink]="['about']"
        >
            <mat-icon>info</mat-icon>
            About
        </a>
    </mat-menu>
    <button
        mat-button
        mobileFriendly
        class="help-button"
        (click)="showAppropriateHelp(helpSidenav)"
    >
        <app-icon-text-pair
            icon="help"
            text="Help"
        ></app-icon-text-pair>
    </button>
    <app-user-dropdown [accountIcon]="accountIcon$ | async">
        <div
            *ngIf="(isMember$ | async) === false"
            mat-menu-item
            disabled
        >
            <mat-icon>{{ accountIcon$ | async }}</mat-icon>
            Not a current member
        </div>
        <a
            mat-menu-item
            *ngIf="canAccessMultipleGroups$ | async"
            routerLink="/group"
        >
            <mat-icon>sync_alt</mat-icon>
            Switch group
        </a>
        <a
            *ngIf="(user$ | async)?.isGlobalAdmin"
            mat-menu-item
            routerLink="/administration"
        >
            <mat-icon>settings_applications</mat-icon>
            Administration
        </a>
    </app-user-dropdown>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav
        class="navigation-sidenav"
        #sidenav
        [mode]="(isMobile$ | async) ? 'over' : 'side'"
        [fixedInViewport]="isMobile$ | async"
        [opened]="(isMobile$ | async) === false"
        [fixedTopGap]="toolbarHeightPx$ | async"
    >
        <div
            *ngIf="(tenant$ | async)?.logo as logo"
            class="organisation-logo-container"
        >
            <img
                class="home-image"
                [src]="logo"
                [alt]="(tenant$ | async)?.name + ' Logo'"
            />
        </div>

        <mat-nav-list>
            <a
                mat-list-item
                routerLink="home"
                routerLinkActive="active"
                (click)="toggleSidenavIfAppropriate(sidenav)"
            >
                <mat-icon matListItemIcon>home</mat-icon>
                Home
            </a>
            <a
                *ngFor="let navItem of navbarPages$ | async"
                mat-list-item
                [routerLink]="navItem.targetRoute"
                routerLinkActive="active"
                [routerLinkActiveOptions]="navItem.routerLinkActiveOptions || { exact: false }"
                (click)="toggleSidenavIfAppropriate(sidenav)"
            >
                <mat-icon matListItemIcon>{{ navItem.icon }}</mat-icon>
                {{ navItem.displayName }}
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- Navport for content -->
        <div id="container-main">
            <router-outlet
                (activate)="helpBrokerService.onRouteActivate($event)"
                (deactivate)="helpBrokerService.onRouteDeactivate($event)"
            ></router-outlet>
        </div>
    </mat-sidenav-content>

    <mat-sidenav
        class="help-sidenav"
        #helpSidenav
        position="end"
        [mode]="(isXl$ | async) ? 'side' : 'over'"
        [fixedInViewport]="(isXl$ | async) === false"
        [fixedTopGap]="toolbarHeightPx$ | async"
        [opened]="helpOutlet.isActivated"
    >
        <router-outlet
            #helpOutlet="outlet"
            name="help"
            (deactivate)="saveHelpRoute()"
        >
        </router-outlet>
    </mat-sidenav>
</mat-sidenav-container>
