<h1 mat-dialog-title>Disband ensemble</h1>

<mat-dialog-content>
    <ng-container *appLoadingUntilFirstEmit="let impact of impact$">
        Disbanding the {{ ensemble.name }} will have the following effects:
        <ul>
            <li>Ensemble will not be available for selection in membership and concerts</li>
            <li *ngIf="removedMailingLists$ | async as removedMailingLists">
                Ensemble will be removed from the {{ removedMailingLists }}
            </li>
            <li
                class="ended-member-point"
                [ngClass]="{ open: isOpen }"
                (click)="toggleOpen()"
            >
                {{ impact.membershipEndedMemberNames.length }} members will have their membership to
                this ensemble ended
                <ul
                    class="ended-member-list"
                    [ngClass]="{ open: isOpen }"
                    [ngStyle]="{ 'max-height.px': listMaxHeight }"
                    (transitionend)="calculateMemberListHeight($event)"
                >
                    <li *ngFor="let name of impact.membershipEndedMemberNames">{{ name }}</li>
                </ul>
            </li>
        </ul>
        <mat-checkbox [(ngModel)]="confirmed">Check to confirm</mat-checkbox>
        <app-save-error
            *ngIf="saveError"
            [saveError]="saveError"
        ></app-save-error>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
    <app-async-button-group>
        <button
            [disabled]="!confirmed"
            mat-raised-button
            color="primary"
            [asyncClick]="disbandEnsemble"
        >
            <mat-icon>save</mat-icon>
            Save
        </button>
        <button
            mat-button
            (click)="cancel()"
        >
            <mat-icon>cancel</mat-icon>
            Cancel
        </button>
    </app-async-button-group>
</mat-dialog-actions>
