@use "responsive";

.ended-member-point {
    cursor: pointer;
    // disclosure-closed (and open) would be better but not much support at the moment
    list-style-type: "\25B6\00a0\00a0";

    &.open {
        list-style-type: "\25BC\00a0\00a0";
    }
}

.ended-member-list {
    max-height: 0px;
    transition: max-height 0.25s ease-in-out;
    overflow: hidden;

    @include responsive.desktop-only() {
        column-count: 2;
    }

    &.open {
        // Would prefer to do max-height: auto but transitions don't work with auto height
        // So instead we set the max height with JS after the transition has ended.
        max-height: 2000px;
    }
}
