.page-icon {
    margin-right: 0.25rem;
}

.page-title {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.page-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    padding-left: 0.5rem;
    font-size: 14px;
}

/* Hard coded heights here */
.container-main {
    height: calc(100vh - 64px); /* Just application bar */
}

mat-toolbar + .container-main {
    height: calc(100vh - 128px); /* Application bar + toolbar */
}

.container-main-default {
    overflow: auto;
}

.orchestrate-container-fluid {
    width: 100%;
    padding: 1rem;
}

.container-undefault {
    height: 100%;
}
