<mat-toolbar *ngIf="!hideDefaultToolbar">
    <mat-icon
        *ngIf="icon$ | async as icon"
        class="page-icon"
        >{{ icon }}</mat-icon
    >
    <h2
        *ngIf="title$ | async as title"
        class="page-title"
    >
        {{ title }}
    </h2>
    <ng-content select="[page-badge]"></ng-content>

    <div class="page-actions">
        <ng-container
            *ngIf="pageActionsTemplate"
            [ngTemplateOutlet]="pageActionsTemplate"
        ></ng-container>
        <ng-content select="[page-action]"></ng-content>
    </div>
</mat-toolbar>

<div
    class="container-main"
    [ngClass]="{ 'container-main-default': hasDefaultContainer }"
>
    <div
        [ngClass]="{
            'orchestrate-container-fluid': hasDefaultContainer,
            'container-undefault': !hasDefaultContainer,
        }"
    >
        <ng-content></ng-content>
    </div>
</div>
