.data-grid-footer {
    display: flex;
    align-items: center;
    min-height: 48px;

    .invoice-total {
        flex: 1;
        padding-right: 24px;
        text-align: right;
    }

    .add-button {
        width: 88px;
        padding-left: 4px;
        padding-right: 4px;
    }
}
