<app-help-center-page helpTitle="Ensembles">
    <p>
        Orchestrate considers a collection of people who rehearse and perform together to be an
        ensemble. We track membership and concerts against each ensemble, and they can also be used
        to bill members in a granular, per ensemble, manner.
    </p>
    <p>
        The ensembles page gives a summary of the ensembles in your group and the numbers &amp;
        types of members each of them have. To see further details, click the ensemble's name on the
        left. On this page you can see some further statistics, including year-by-year membership
        and performance counts, giving you an idea of membership turnover. You can also see concert
        history, as well as the dates that members were active in this ensemble.
    </p>

    <app-help-data-hook-call-to-action
        [dataHooks]="ensemblesPageDataHooks$ | async"
        callToActionText="Add Ensemble"
    >
        However, you don't have any of that data in here yet! Let's start by adding an ensemble.
    </app-help-data-hook-call-to-action>
</app-help-center-page>
