mat-card {
    display: block;

    &:not(:first-child) {
        margin-top: 1rem;
    }
}

mat-divider:first-child {
    margin-top: 0.5rem;
}

.next-billing-period-focus {
    font-weight: 500;
}

app-billing-period-card {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:last-child {
        padding-bottom: 0;
    }
}

ag-charts {
    display: block;
    height: 800px;
}
