<app-page-wrapper *appAsyncIf="let billingConfig of billingConfig$; else: notConfiguredTemplate">
    <ng-container
        *ngIf="canEdit$ | async"
        page-action
    >
        <button
            *ngIf="billingIsEnabled$ | async"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="More actions"
        >
            <mat-icon>more_vert</mat-icon>
        </button>
    </ng-container>
    <mat-menu #menu="matMenu">
        <span
            matTooltip="You can't generate the next billing period as there is already one in review"
            [matTooltipDisabled]="(hasDraftBillingPeriod$ | async) === false"
        >
            <button
                mat-menu-item
                [disabled]="hasDraftBillingPeriod$ | async"
                (click)="generateNextBillingPeriod()"
            >
                <mat-icon>point_of_sale</mat-icon>
                Generate next billing period
            </button>
        </span>
        <button
            mat-menu-item
            (click)="autoAdvanceBillingPeriods()"
        >
            <mat-icon>rotate_right</mat-icon>
            Auto-advance billing periods
        </button>
    </mat-menu>

    <app-two-column-layout>
        <ng-container left-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Current Billing Periods</mat-card-title>
                    <mat-card-subtitle
                        *ngIf="
                            (billingIsEnabled$ | async) &&
                            (hasDraftBillingPeriod$ | async) === false
                        "
                    >
                        <div *ngIf="nextBillingPeriod$ | async as nextBillingPeriod">
                            The next billing period will be
                            <span class="next-billing-period-focus">{{
                                nextBillingPeriod.name
                            }}</span
                            >. This will be automatically generated at the
                            <span class="next-billing-period-focus">
                                start of
                                {{ nextBillingPeriod.generationDate | date: "MMMM" }}</span
                            >.

                            <ng-container *ngIf="canEdit$ | async">
                                You can also manually initiate this process now using the button in
                                the toolbar.
                            </ng-container>
                        </div>
                    </mat-card-subtitle>
                    <mat-card-subtitle *ngIf="billingIsDisabled$ | async">
                        Automated billing is currently disabled.
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content
                    *appLoadingUntilFirstEmit="let openBillingPeriods of openBillingPeriods$"
                >
                    <ng-container *ngFor="let billingPeriod of openBillingPeriods">
                        <mat-divider></mat-divider>
                        <app-billing-period-card
                            [billingPeriod]="billingPeriod"
                        ></app-billing-period-card>
                    </ng-container>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Closed Billing Periods</mat-card-title>
                    <mat-card-subtitle *ngIf="(closedBillingPeriods$ | async)?.length === 0">
                        No closed billing periods.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content
                    *appLoadingUntilFirstEmit="let closedBillingPeriods of closedBillingPeriods$"
                >
                    <ng-container *ngFor="let billingPeriod of closedBillingPeriods">
                        <mat-divider></mat-divider>
                        <app-billing-period-card
                            [billingPeriod]="billingPeriod"
                        ></app-billing-period-card>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <ng-container right-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Billing History</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <ng-container
                        *appLoadingUntilFirstEmit="let chartOptions of billingPeriodsChartOptions$"
                    >
                        <ag-charts
                            *ngIf="hasChartData(chartOptions); else elseChartTemplate"
                            [options]="chartOptions"
                        ></ag-charts>
                        <ng-template #elseChartTemplate>
                            No billing history to display
                        </ng-template>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </app-two-column-layout>
</app-page-wrapper>

<ng-template #notConfiguredTemplate>
    <app-page-wrapper>
        <app-get-started>
            <ng-container get-started-content>
                Member Billing has not yet been configured.
            </ng-container>
            <ng-container get-started-actions>
                <a
                    *ngIf="canEdit$ | async"
                    mat-raised-button
                    color="primary"
                    [appPrimaryRouterLink]="settingsCommands"
                >
                    Configure Member Billing
                </a>
            </ng-container>
        </app-get-started>
    </app-page-wrapper>
</ng-template>
