app-chip-selection {
    display: flex;
    justify-content: center;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
}

ag-charts {
    display: block;
    height: 600px;
}

mat-divider {
    margin-top: 0.5rem;
}

.ensemble-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    &:last-child {
        padding-bottom: 0;
    }

    h4 {
        grid-column: 1 / -1;
        margin-bottom: 0;

        display: flex;
        align-items: center;

        mat-icon {
            transform: scale(1.25);
            margin-right: 0.5rem;
        }
    }

    .data {
        display: flex;
        align-items: center;

        mat-icon {
            margin-right: 0.25rem;
        }
    }
}
