@use "dl";

app-billing-period-state-badge {
    margin-left: 0.5rem;
}

.next-steps {
    margin-bottom: 1rem;
}

.generate-invoice-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 400px;

    app-select-member {
        flex: 1;
    }

    .button-container {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
    }
}

dl.stats-list {
    @include dl.mobile-friendly-dl();

    dd.overdue {
        font-weight: 500;
        color: #cb2370;
    }
}

ag-charts {
    display: block;
    height: 300px;
    margin-top: 2rem;
}

app-chip-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

mat-accordion {
    display: block;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
