<app-page-wrapper
    *appAsyncIf="let billingPeriod of billingPeriod$; else: notFoundTemplate"
    [title]="billingPeriod.name"
>
    <app-billing-period-state-badge
        page-badge
        [billingPeriod]="billingPeriod"
    ></app-billing-period-state-badge>
    <app-mobile-collapsible-filter
        *ngIf="view !== BillingPeriodView.Table"
        page-action
        (filterTextChange)="applyFilter($event)"
    >
    </app-mobile-collapsible-filter>

    <app-two-column-layout>
        <ng-container left-column>
            <mat-card
                *ngIf="
                    (hasWritePermissions$ | async) &&
                    billingPeriod.state !== BillingPeriodState.Closed
                "
                class="next-steps"
            >
                <mat-card-header>
                    <mat-card-title>Next Steps</mat-card-title>
                </mat-card-header>

                <mat-card-content [ngSwitch]="billingPeriod.state">
                    <p *ngSwitchCase="BillingPeriodState.Created">
                        Invoices are currently being generated for this billing period. Please come
                        back later.
                    </p>
                    <ng-container *ngSwitchCase="BillingPeriodState.Draft">
                        <p>
                            All invoices have been generated for this billing period. Please review
                            them to the right and when you are ready, send them out using the below
                            button.
                        </p>
                        <ng-container
                            [ngTemplateOutlet]="earlyBirdExplainationTemplate"
                        ></ng-container>
                        <ng-container [ngTemplateOutlet]="generateInvoiceTemplate"></ng-container>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <p>
                            Invoices have been sent to members and are awaiting payment. Please mark
                            invoices paid as they are received. Once all invoices have been marked
                            as paid, or it is past the due date, you may close this billing period.
                        </p>
                        <ng-container
                            [ngTemplateOutlet]="earlyBirdExplainationTemplate"
                        ></ng-container>
                        <ng-container [ngTemplateOutlet]="generateInvoiceTemplate"></ng-container>
                    </ng-container>

                    <ng-template #earlyBirdExplainationTemplate>
                        <p>
                            Note that early bird discounts will not be applied until invoices are
                            marked as paid. However, the PDF of the invoice will have the early bird
                            discount applied (as long as it is downloaded before the early bird
                            period ends).
                        </p>
                    </ng-template>
                    <ng-template #generateInvoiceTemplate>
                        <div class="generate-invoice-container">
                            <app-select-member
                                [(member)]="memberToGenerate"
                                label="Manually generate invoice for"
                                [filterAllowedMembers]="filterForGeneratableMembers"
                            ></app-select-member>

                            <div class="button-container">
                                <button
                                    mat-button
                                    color="accent"
                                    [disabled]="!memberToGenerate"
                                    [asyncClick]="generateInvoice"
                                >
                                    Generate
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </mat-card-content>

                <mat-card-actions *ngIf="hasWritePermissions$ | async">
                    <button
                        *ngIf="billingPeriod.state === BillingPeriodState.Draft"
                        mat-raised-button
                        color="primary"
                        (click)="sendInvoices()"
                    >
                        <mat-icon>send</mat-icon>
                        Send Invoices
                    </button>
                    <button
                        *ngIf="billingPeriod.state === BillingPeriodState.Draft"
                        mat-button
                        color="warn"
                        (click)="deleteBillingPeriod()"
                    >
                        <mat-icon>delete_forever</mat-icon>
                        Delete all
                    </button>
                    <span
                        *ngIf="billingPeriod.isAcceptingPayments"
                        matTooltip="There are unpaid invoices or the billing period is not overdue yet"
                        [matTooltipDisabled]="canCloseBillingPeriod$ | async"
                    >
                        <button
                            mat-raised-button
                            [disabled]="(canCloseBillingPeriod$ | async) === false"
                            (click)="closeBillingPeriod()"
                            color="primary"
                        >
                            <mat-icon>stop</mat-icon>
                            End Billing Period
                        </button>
                    </span>
                </mat-card-actions>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>Additional Information</mat-card-title>
                </mat-card-header>

                <mat-card-content *appLoadingIfUndefined="let stats of billingPeriodStats$">
                    <dl class="stats-list">
                        <dt>Generated:</dt>
                        <dd>{{ billingPeriod.generated | appDateTime }}</dd>

                        <dt>Invoices sent to members:</dt>
                        <dd *ngIf="billingPeriod.sent as sent; else notSentTemplate">
                            {{ sent | appDateTime }}
                        </dd>
                        <ng-template #notSentTemplate>
                            <dd>Not sent</dd>
                        </ng-template>

                        <ng-container *ngIf="billingPeriod.earlyBirdDue as earlyBirdDue">
                            <dt>Early bird payment due:</dt>
                            <dd
                                [ngClass]="{
                                    overdue:
                                        billingPeriod.state !== BillingPeriodState.Closed &&
                                        billingPeriod.earlyBirdDue < now,
                                }"
                            >
                                {{ earlyBirdDue | date }}
                            </dd>
                        </ng-container>

                        <dt>Full payment due:</dt>
                        <dd
                            [ngClass]="{
                                overdue:
                                    billingPeriod.state !== BillingPeriodState.Closed &&
                                    billingPeriod.due < now,
                            }"
                        >
                            {{ billingPeriod.due | date }}
                        </dd>

                        <ng-container *ngIf="billingPeriod.closed as closed">
                            <dt>Closed:</dt>
                            <dd>{{ closed | appDateTime }}</dd>
                        </ng-container>

                        <dt>Number of invoices:</dt>
                        <dd>{{ numberOfInvoices$ | async }}</dd>

                        <dt>Number of concession invoices:</dt>
                        <dd>{{ stats.numConcession }}</dd>

                        <ng-container *ngIf="isNotDraftState$ | async">
                            <dt>Number of paid invoices:</dt>
                            <dd>{{ numberOfPaidInvoices$ | async }}</dd>
                        </ng-container>

                        <ng-container *ngIf="billingPeriod.state !== BillingPeriodState.Created">
                            <dt>Total value of invoices:</dt>
                            <dd>{{ stats.totalValueDollars | currency }}</dd>

                            <ng-container *ngIf="billingPeriod.state !== BillingPeriodState.Draft">
                                <dt>Total value of paid invoices:</dt>
                                <dd>{{ stats.incomeDollars | currency }}</dd>
                            </ng-container>
                        </ng-container>
                    </dl>

                    <ng-container *ngIf="isNotDraftState$ | async">
                        <mat-divider></mat-divider>
                        <ag-charts
                            *appLoadingIfUndefined="let options of invoiceStatusChartOptions$"
                            [options]="options"
                        ></ag-charts>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>

        <ng-container right-column>
            <ng-container *appLoadingIfUndefined="let invoices of filteredMemberInvoices$">
                <app-chip-selection
                    [chips]="chips"
                    [selection]="[view]"
                    (selectionChange)="updateView($event[0])"
                ></app-chip-selection>

                <mat-accordion *ngIf="view === BillingPeriodView.List">
                    <app-member-invoice-panel
                        *ngFor="let invoice of invoices"
                        [memberInvoice]="invoice"
                        (init)="onInvoicePanelInit($event)"
                        (statusChange)="refreshBillingPeriod$.next()"
                        (invoiceDeleted)="refreshBillingPeriod$.next()"
                    >
                    </app-member-invoice-panel>
                </mat-accordion>

                <app-data-grid
                    *ngIf="view === BillingPeriodView.Table"
                    [displayActionsInToolbar]="true"
                    [allowExportWithFilename]="billingPeriod.name + '.csv'"
                >
                    <ag-grid-angular
                        appGridFillHeight
                        minHeight="75vh"
                        [columnDefs]="invoiceListColumns"
                        [rowData]="invoices"
                    />
                </app-data-grid>
            </ng-container>
        </ng-container>
    </app-two-column-layout>
</app-page-wrapper>

<ng-template #notFoundTemplate>
    <app-not-found-page>
        Unable to find that billing period. Do you have the right link?
    </app-not-found-page>
</ng-template>
