<app-page-wrapper>
    <a
        page-action
        mat-raised-button
        mobileFriendly
        color="primary"
        routerLink="../.."
    >
        <app-icon-text-pair
            icon="check"
            text="Finished"
        ></app-icon-text-pair>
    </a>

    <div>For {{ asset }}</div>

    <div class="loan-history-container">
        <div
            class="current-loan-container"
            *ngIf="currentLoan"
        >
            <!-- TODO Convert member to breeze -->
            <strong class="name">
                {{ currentLoan.member?.firstName || "" }} {{ currentLoan.member?.lastName || "" }}
            </strong>
            <mat-form-field>
                <mat-label>Borrowed on</mat-label>
                <input
                    matInput
                    [matDatepicker]="picker"
                    [ngModel]="currentLoan!.dateBorrowed"
                    (ngModelChange)="updateLoan(currentLoan, 'dateBorrowed', $event)"
                />
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button
                mat-button
                color="primary"
                type="button"
                (click)="returnAssetOnClick()"
            >
                Return Asset
            </button>
        </div>

        <div
            class="loan-to-container"
            *ngIf="!currentLoan"
        >
            <strong class="name">Loan To</strong>
            <app-select-member
                class=""
                [(member)]="selectedMember"
            ></app-select-member>
            <button
                mat-button
                color="primary"
                type="button"
                [disabled]="!selectedMember"
                (click)="loanAssetToMember()"
            >
                Loan Asset
            </button>
        </div>

        <div
            class="loan-instance-container"
            *ngFor="let x of loanHistory"
        >
            <!-- TODO Breeze member class -->
            <strong class="name"
                >{{ x.member?.firstName || "" }} {{ x.member?.lastName || "" }}</strong
            >
            <mat-form-field>
                <mat-label>From</mat-label>
                <input
                    matInput
                    [matDatepicker]="borrowedPicker"
                    [ngModel]="x.dateBorrowed"
                    (ngModelChange)="updateLoan(x, 'dateBorrowed', $event)"
                />
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="borrowedPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #borrowedPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <mat-label>To</mat-label>
                <input
                    matInput
                    [matDatepicker]="returnedPicker"
                    [ngModel]="x.dateReturned"
                    (ngModelChange)="updateLoan(x, 'dateReturned', $event)"
                />
                <mat-datepicker-toggle
                    matIconSuffix
                    [for]="returnedPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #returnedPicker></mat-datepicker>
            </mat-form-field>
            <button
                mat-button
                color="primary"
                type="button"
                (click)="deleteLoan(x)"
            >
                Delete Loan
            </button>
        </div>
    </div>
</app-page-wrapper>
