<app-page-wrapper *appLoadingUntilFirstEmit="let summary of summary$">
    <button
        *ngIf="canEdit$ | async"
        page-action
        mat-icon-button
        matTooltip="Add"
        [disabled]="summary.mailingLists.length >= summary.maxMailingListCount"
        (click)="createMailingList()"
    >
        <mat-icon>add</mat-icon>
    </button>
    <app-two-column-layout *ngIf="summary.mailingLists.length > 0; else getStartedTemplate">
        <ng-container left-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Current Mailing Lists</mat-card-title>
                    <mat-card-subtitle *ngIf="subtitleText$ | async as subtitleText">
                        {{ subtitleText }}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ng-container *ngFor="let mailingList of summary.mailingLists">
                        <mat-divider></mat-divider>
                        <h4 class="mailing-list-title">
                            <a
                                *ngIf="canEdit$ | async; else plainNameTemplate"
                                [routerLink]="[mailingList.id, 'edit']"
                                >{{ mailingList.name }}</a
                            >
                            <ng-template #plainNameTemplate>{{ mailingList.name }}</ng-template>
                        </h4>
                        <dl>
                            <dt>Email</dt>
                            <dd>
                                {{ mailingList.email }}
                                <mat-icon
                                    class="send-button"
                                    matTooltip="Send an email to this mailing list"
                                >
                                    <a
                                        class="stealth-link"
                                        [href]="'mailto:' + mailingList.email"
                                        >send</a
                                    >
                                </mat-icon>
                            </dd>
                            <dt>Recipient Count</dt>
                            <dd>{{ mailingList.recipientCount }}</dd>
                            <dt>Last Used</dt>
                            <dd>
                                <ng-container *ngIf="mailingList.lastUsed; else notUsedTemplate">
                                    {{ mailingList.lastUsed | date }}
                                </ng-container>
                                <ng-template #notUsedTemplate>Never</ng-template>
                            </dd>
                        </dl>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>
        <ng-container right-column>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Recent Usage</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <ng-container
                        *appLoadingUntilFirstEmit="let chartOptions of usageChartOptions$"
                    >
                        <ag-charts
                            *ngIf="hasChartData(chartOptions); else elseChartTemplate"
                            [options]="chartOptions"
                        />
                        <ng-template #elseChartTemplate>
                            No usage in the last {{ summary.usageCutOffDaysAgo }} days.
                        </ng-template>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </app-two-column-layout>
    <ng-template #getStartedTemplate>
        <app-get-started>
            <ng-container get-started-content>
                Mailing lists allow you to email many people at once whether they are members or
                external contacts. Orchestrate will automatically add and remove members as they
                come and go, freeing you up from admin work. Create your first Mailing List to get
                started.
            </ng-container>
            <ng-container get-started-actions>
                <button
                    mat-raised-button
                    color="primary"
                    (click)="createMailingList()"
                >
                    Create Mailing List
                </button>
            </ng-container>
        </app-get-started>
    </ng-template>
</app-page-wrapper>
