@use "dl";

app-badge {
    margin-left: 0.5rem;
    background-color: var(--accent-300);
    font-weight: 400;

    mat-icon {
        margin-right: 0.25rem;
    }
}

.mailing-list-title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 500;
}

mat-divider {
    margin: 0.75rem 0;
}

mat-card-footer {
    padding: 0.75rem 1rem;
    text-align: right;

    mat-divider {
        margin: 0.75rem -1rem;
    }
}

dl {
    margin: 0;
    @include dl.mobile-friendly-dl();
}

.send-button {
    vertical-align: middle;
    transform: scale(0.8);
}

ag-charts {
    display: block;
    height: 400px;
}
