<h2 mat-dialog-title>Unsaved changes</h2>

<mat-dialog-content>
    You have made changes without saving them. What would you like to do?
</mat-dialog-content>

<mat-dialog-actions>
    <app-async-button-group>
        <button
            mat-raised-button
            color="primary"
            [asyncClick]="saveChanges"
        >
            <mat-icon>save</mat-icon>
            Save & continue
        </button>
        <button
            mat-raised-button
            color="warn"
            [asyncClick]="cancelChanges"
        >
            <mat-icon>delete_forever</mat-icon>
            Discard & continue
        </button>
        <button
            mat-button
            (click)="stayHere()"
        >
            <mat-icon>stop</mat-icon>
            Stay here
        </button>
    </app-async-button-group>
</mat-dialog-actions>
