mat-expansion-panel {
    mat-panel-title {
        align-items: center;

        mat-icon {
            margin-right: 0.25rem;
        }
    }

    mat-panel-description {
        flex: 0 0 auto;
    }
}

.active-membership {
    color: forestgreen;
}

.inactive-membership {
    color: rgba(0, 0, 0, 0.5);
}

app-membership-type-icon {
    align-self: center;
}

.membership-list {
    display: grid;
    align-items: baseline;
    grid-template-columns: auto 1fr 1fr auto;
    column-gap: 1rem;
}

mat-divider {
    margin: 1rem -1.5rem;
}

mat-card {
    margin-top: 1rem;
    margin-bottom: 0.25rem;

    mat-card-title {
        font-size: 16px;
        font-weight: 400;
    }
}

mat-expansion-panel,
mat-card {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    border-radius: 0;
}

mat-accordion mat-expansion-panel {
    &:first-of-type,
    &:last-of-type {
        border-radius: 0;
    }
}
