:host {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.fail-text {
    color: var(--warn-500);
}

.success-text {
    color: #28a745;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

img {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}
