:host {
    display: block;
    width: 100%;
}

mat-form-field {
    width: 50%;
}

.minutes {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.seconds {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
